albumentations==1.3.1
matplotlib==3.5.1
numpy==1.21.5
opencv_python==4.8.1.78
opencv_python_headless==4.8.1.78
pandas==1.2.4
Pillow==9.4.0
Pillow==10.1.0
resnest==0.0.5
scikit_learn==1.3.2
skimage==0.0
tensorboardX==2.6.1
tensorboardX==2.6.2.2
torch==2.0.0
torchvision==0.15.0
tqdm==4.65.0
~pencv_python==4.7.0.72
